@model IEnumerable<CRM.Application.CRM.CRMDto>

@{
    ViewData["Title"] = "Affiliation";
}

<h2>Affiliation</h2>

@* <h4>Your responsibilities include servicing the clients you acquire.</h4> *@

<br>

<table class="table">
    <thead class="custom-thead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Phone Number
            </th>
            <th>
                E-mail
            </th>
            <th>
                TIN
            </th>
            <th>
                Legal form
            </th>
            <th style ="font-weight: bold;">
                Acquired by me
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalForm)
            </td>
                <td style="padding-left: 70px;">
                @Html.DisplayFor(modelItem => item.IsEditable)
            </td>
        </tr>
}
    </tbody>
</table>
