@using CRM.Application.Lead.Commands.Delete
@model IEnumerable<CRM.Application.Lead.LeadDto>

@{
    ViewData["Title"] = "Leads";
}

<h2>Leads</h2>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create new lead</a>
</p>

<div class="row">
 @{ int i = 0;
        foreach (var item in Model.Reverse())
    {
        <div class="card m-3" style="width: 50rem;">
            <div class="card-body">
                <!-- Górna część -->
                <div class="row">
                    <div class="col-5">
                        <!-- Zajmuje 4 z 12 części szerokości kontenera -->
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                    <div class="col-2">
                            <h6 class="card-subtitle mt-1">@item.PhoneNumber</h6>
                    </div>
                    <div class="col-5">
                        <p class="card-text">@item.Mail</p>
                    </div>
                </div>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" id="progress-@item.Id"></div>
                    </div>
                    <span class="step">Contact Attempt/<br>Unsuccessful</span>
                    <span class="step">Successful Contact Attempt/<br>No Agreement</span><!-- Contact Attempt/Unsuccessful -->
                    <span class="step">Establishing<br>Cooperation</span> <!-- Successful Contact Attempt/No Agreement -->
                    <span class="step">No Action</span><!-- Establishing Cooperation -->
                </div>


                <div class="row">
                    <div class="col-12">
                        <!-- Zajmuje 4 z 12 części szerokości kontenera -->
                        <h5 class="card-title mt-4 mb-4"> </h5>
                    </div>
                    <!-- Miejsce na przyszłe elementy jeśli potrzeba -->
                </div>
                <!-- Dolna część -->
                @if (item.IsEditable)
                {
                        <div class="row action-buttons">
                            <div class="col-md-8 text-center">
                                <a class="btn btn-outline-secondary" onclick="removeProgress(@item.Id)">Reverse</a>
                                <a class="btn btn-outline-secondary" onclick="moveProgress(@item.Id)">Advance</a>
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-primary" asp-controller="Lead" asp-action="Info" asp-route-encodedName="@item.EncodedName">Info</a>
                                <a class="btn btn-outline-secondary" asp-controller="Lead" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                                <a class="btn btn-outline-dark" asp-controller="Lead" asp-action="Delete" asp-route-encodedName="@item.EncodedName">Delete</a>
                                <!-- <partial name="_Delete" model="new DeleteLeadCommand() { LeadEncodedName = @item.EncodedName }" /> -->
                            </div>
                        </div>
                }
            </div>
        </div>
        i++;
    }
}
</div>

@section Scripts {
    <script src="~/js/Lead/Slider.js"></script>
}